# Question 1
1. Read diabetes data from a csv file
2. Print the first 10 rows and last 5 of the DataFrame
3. Display a summary of the data in DataFrame
4. Display summary of only glucose column
5. Take a sample of the data using first 15 rows

In [1]:
# Read diabetes data from a CSV file
import pandas as pd
df = pd.read_csv('diabetes.csv')


# Print the first 10 rows of the dataFrame
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,250.0,33.6,0.627,50,1
1,1,85,66,29,300.0,26.6,0.351,31,0
2,8,183,64,0,NaN,23.3,0.672,32,1
3,1,89,66,23,94.0,28.1,0.167,21,0
4,0,137,40,35,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180.0,32.9,0.171,63,0
764,2,122,70,27,0.0,36.8,0.340,27,0
765,5,121,72,23,112.0,26.2,0.245,30,0
766,1,126,60,0,0.0,30.1,0.349,47,1
767,1,93,70,31,0.0,30.4,0.315,23,0

In [2]:
df[df['Outcome'] == 0]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,300.0,26.6,0.351,31,0
3,1,89,66,23,94.0,28.1,0.167,21,0
5,5,116,74,0,NaN,25.6,0.201,30,0
7,10,115,0,0,400.0,35.3,0.134,29,0
10,4,110,92,0,0.0,37.6,0.191,30,0
...,...,...,...,...,...,...,...,...,...
762,9,89,62,0,0.0,22.5,0.142,33,0
763,10,101,76,48,180.0,32.9,0.171,63,0
764,2,122,70,27,0.0,36.8,0.340,27,0
765,5,121,72,23,112.0,26.2,0.245,30,0
767,1,93,70,31,0.0,30.4,0.315,23,0

In [21]:
# Print the last 5 rows of the dataFrame
print(df.tail())

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
763           10      101             76             48    180.0  32.9
764            2      122             70             27      0.0  36.8
765            5      121             72             23    112.0  26.2
766            1      126             60              0      0.0  30.1
767            1       93             70             31      0.0  30.4

     DiabetesPedigreeFunction  Age  Outcome
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

In [23]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,250.0,33.6,0.627,50,1
1,1,85,66,29,300.0,26.6,0.351,31,0
2,8,183,64,0,NaN,23.3,0.672,32,1
3,1,89,66,23,94.0,28.1,0.167,21,0
4,0,137,40,35,168.0,43.1,2.288,33,1

In [5]:
# Display a summary of the data in dataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   766 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(3), int64(6)
memory usage: 54.1 KB
None

In [6]:
df["Glucose"].describe()

count    768.000000
mean     120.894531
std       31.972618
min        0.000000
25%       99.000000
50%      117.000000
75%      140.250000
max      199.000000
Name: Glucose, dtype: float64

In [7]:
df.iloc[0]

Pregnancies                   6.000
Glucose                     148.000
BloodPressure                72.000
SkinThickness                35.000
Insulin                     250.000
BMI                          33.600
DiabetesPedigreeFunction      0.627
Age                          50.000
Outcome                       1.000
Name: 0, dtype: float64

In [25]:
df.iloc[1:6] # index position

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,300.0,26.6,0.351,31,0
2,8,183,64,0,NaN,23.3,0.672,32,1
3,1,89,66,23,94.0,28.1,0.167,21,0
4,0,137,40,35,168.0,43.1,2.288,33,1
5,5,116,74,0,NaN,25.6,0.201,30,0

In [9]:
# df.loc --> retrive elements using index label

In [10]:
# Take a sample of the data using first 15 rows
df2 = df.iloc[:15]
print(df2)

    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0             6      148             72             35    250.0  33.6
1             1       85             66             29    300.0  26.6
2             8      183             64              0      NaN  23.3
3             1       89             66             23     94.0  28.1
4             0      137             40             35    168.0  43.1
5             5      116             74              0      NaN  25.6
6             3       78             50             32     88.0  31.0
7            10      115              0              0    400.0  35.3
8             2      197             70             45    543.0  30.5
9             8      125             96              0      0.0   0.0
10            4      110             92              0      0.0  37.6
11           10      168             74              0      0.0  38.0
12           10      139             80              0      0.0  27.1
13            1      189             60             23    846.0  30.1
14            5      166             72             19    175.0  25.8

    DiabetesPedigreeFunction  Age  Outcome
0                      0.627   50        1
1                      0.351   31        0
2                      0.672   32        1
3                      0.167   21        0
4                      2.288   33        1
5                      0.201   30        0
6                      0.248   26        1
7                      0.134   29        0
8                      0.158   53        1
9                      0.232   54        1
10                     0.191   30        0
11                     0.537   34        1
12                     1.441   57        0
13                     0.398   59        1
14                     0.587   51        1

# Question 2

1. Add a new column "New_Age" in the DataFrame by adding 1 to values in existing "Age" column
2. Drop the column "SkinThickness" as it is not relevant to our analysis
3. Filter rows where patient's age is greater than or equal to 50 since such patients have high possibility of having diabetes. Use column New_Age. Incorporate another condition for filtering rows as “Outcome = 1”
4. Sort values in the DataFrame df4 by "Glucose" in descending order

In [11]:
# Add a new column "New_Age" in the dataframe by adding 1 to values in existing "Age" column
df2['New_Age']=df['Age'] + 1
print(df2)

    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0             6      148             72             35    250.0  33.6
1             1       85             66             29    300.0  26.6
2             8      183             64              0      NaN  23.3
3             1       89             66             23     94.0  28.1
4             0      137             40             35    168.0  43.1
5             5      116             74              0      NaN  25.6
6             3       78             50             32     88.0  31.0
7            10      115              0              0    400.0  35.3
8             2      197             70             45    543.0  30.5
9             8      125             96              0      0.0   0.0
10            4      110             92              0      0.0  37.6
11           10      168             74              0      0.0  38.0
12           10      139             80              0      0.0  27.1
13            1      189             60             23    846.0  30.1
14            5      166             72             19    175.0  25.8

    DiabetesPedigreeFunction  Age  Outcome  New_Age
0                      0.627   50        1       51
1                      0.351   31        0       32
2                      0.672   32        1       33
3                      0.167   21        0       22
4                      2.288   33        1       34
5                      0.201   30        0       31
6                      0.248   26        1       27
7                      0.134   29        0       30
8                      0.158   53        1       54
9                      0.232   54        1       55
10                     0.191   30        0       31
11                     0.537   34        1       35
12                     1.441   57        0       58
13                     0.398   59        1       60
14                     0.587   51        1       52

C:\Users\DELL\AppData\Local\Temp\ipykernel_13764\560642581.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['New_Age']=df['Age'] + 1

In [12]:
df2.drop(['SkinThickness'], axis=1)

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,New_Age
0,6,148,72,250.0,33.6,0.627,50,1,51
1,1,85,66,300.0,26.6,0.351,31,0,32
2,8,183,64,NaN,23.3,0.672,32,1,33
3,1,89,66,94.0,28.1,0.167,21,0,22
4,0,137,40,168.0,43.1,2.288,33,1,34
5,5,116,74,NaN,25.6,0.201,30,0,31
6,3,78,50,88.0,31.0,0.248,26,1,27
7,10,115,0,400.0,35.3,0.134,29,0,30
8,2,197,70,543.0,30.5,0.158,53,1,54
9,8,125,96,0.0,0.0,0.232,54,1,55
10,4,110,92,0.0,37.6,0.191,30,0,31
11,10,168,74,0.0,38.0,0.537,34,1,35
12,10,139,80,0.0,27.1,1.441,57,0,58
13,1,189,60,846.0,30.1,0.398,59,1,60
14,5,166,72,175.0,25.8,0.587,51,1,52

In [13]:
df2.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,New_Age
0,6,148,72,35,250.0,33.6,0.627,50,1,51
1,1,85,66,29,300.0,26.6,0.351,31,0,32
2,8,183,64,0,NaN,23.3,0.672,32,1,33
3,1,89,66,23,94.0,28.1,0.167,21,0,22
4,0,137,40,35,168.0,43.1,2.288,33,1,34

In [14]:
# Drop the column "SkinThickness" as it is not relevant to our analysis

df3 = df2.drop(['SkinThickness'], axis=1)
print(df3.head())

   Pregnancies  Glucose  BloodPressure  Insulin   BMI  \
0            6      148             72    250.0  33.6
1            1       85             66    300.0  26.6
2            8      183             64      NaN  23.3
3            1       89             66     94.0  28.1
4            0      137             40    168.0  43.1

   DiabetesPedigreeFunction  Age  Outcome  New_Age
0                     0.627   50        1       51
1                     0.351   31        0       32
2                     0.672   32        1       33
3                     0.167   21        0       22
4                     2.288   33        1       34

In [28]:
df3['New_Age']>= 50

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10    False
11    False
12     True
13     True
14     True
Name: New_Age, dtype: bool

In [16]:
# Filter rows where patient's age is greater than or equal to 50 since such patients have high possibility of having diabetes. 
# Use column New_Age

df3[df3['New_Age']>= 50]

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,New_Age
0,6,148,72,250.0,33.6,0.627,50,1,51
8,2,197,70,543.0,30.5,0.158,53,1,54
9,8,125,96,0.0,0.0,0.232,54,1,55
12,10,139,80,0.0,27.1,1.441,57,0,58
13,1,189,60,846.0,30.1,0.398,59,1,60
14,5,166,72,175.0,25.8,0.587,51,1,52

In [17]:
(df3['New_Age']>= 50) & (df3['Outcome'] == 1)

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10    False
11    False
12    False
13     True
14     True
dtype: bool

In [18]:
# Incorporate another condition for filtering rows as Outcome is '1'

df4 = df3[(df3['New_Age']>= 50) & (df3['Outcome'] == 1)]
df4

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,New_Age
0,6,148,72,250.0,33.6,0.627,50,1,51
8,2,197,70,543.0,30.5,0.158,53,1,54
9,8,125,96,0.0,0.0,0.232,54,1,55
13,1,189,60,846.0,30.1,0.398,59,1,60
14,5,166,72,175.0,25.8,0.587,51,1,52

In [19]:
# Sort values in the dataFrame df4 by "Glucose" in descending order

df4.sort_values(by=['Glucose'], ascending = False)

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,New_Age
8,2,197,70,543.0,30.5,0.158,53,1,54
13,1,189,60,846.0,30.1,0.398,59,1,60
14,5,166,72,175.0,25.8,0.587,51,1,52
0,6,148,72,250.0,33.6,0.627,50,1,51
9,8,125,96,0.0,0.0,0.232,54,1,55